/* Space out content a bit */
html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;

  padding-top: 20px;
  padding-bottom: 20px;

  background: -webkit-linear-gradient(135deg, #24C6DC 10%, #514A9D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(135deg, #24C6DC 10%, #514A9D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(135deg, #24C6DC 10%, #514A9D 90%); /* IE10 */
  background:      -o-linear-gradient(135deg, #24C6DC 10%, #514A9D 90%); /* Opera 11.10+ */
  background:         linear-gradient(135deg, #24C6DC 10%, #514A9D 90%); /* W3C */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  color: #fff;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header a {
  color: #fff;
}
.header a:hover {
  color: #000;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.hero h1, h2, h3 {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.33);
  font-size: 9vh;
  font-weight: 700;
  font-family: 'Lato', Arial, sans-serif;
}

.hero h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

.hero h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3.4vh;
  font-weight: 600;

}

.hero h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.4vh;
  font-weight: 300;
}

.hero img {
  margin: 15px;
  max-width: 200px;
  max-height: 100px;
}

.hero p {
  margin-top: 60px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.33);
  font-size: 2.2vh;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 4vh;
}

.btn-ghost {
  background: transparent;
  color: #F2F2F2;
  width: 280px;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,0.33);
  font-size: 1.75vh;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 200;
  line-height: 2vh;
  border-width: 2px;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;

  /* Rounding */
  -webkit-border-radius: ;
  -moz-border-radius:    ;
  border-radius:         ;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  color: #fff;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
